link(rel='stylesheet', href='./index.css')
script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js")
body

    .page
        include _header
        block content
            h1 Hohohho
        



include _footer