extends base

block content
    form.form
        .form-group
            div
            label.email-label(for="email") Email :
            div
            input#Email(type="email", name="email" , required , placeholder="Enter Your Email")
            div 
            input.submit(type="button", value="Submit")
